<!-- <div class="pet-holder">
    <div class="pet-holder_child">
        <img [src]="getImageSource()" alt="dog">
    </div>
    <div class="pet-holder_child">
        <p>{{pet.name}}</p>
        <p>{{pet.age}}</p>
        <p>{{pet.type}}</p>
        <button (click)="redirectToPetList()">Home</button>
    </div>
    
    <div class="pet-holder_child">
    </div>
</div> -->
<div class="pet-holder">
    <img [src]="getImageSource()" style="padding: 10px;">
    <div class="item-content">
        <div class="item-title">
            <label>Name:</label>
            {{pet.name}}
        </div>
        <div>
            <label>Description:</label>
            {{pet.type}}
        </div>
        <div>
            <label>Age:</label>
            {{pet.age}}
        </div>
        <div class="item-buttons">
            <button mat-button (click)="redirectToPetList()">Home</button>
        </div>
    </div>
</div>
